@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=devic-width"/>
        <title>
            About
        </title>
    </head>
    <body>
        <h1>About page</h1>
    </body>
</html>